
:focus {
  outline: none;
}

html, body {
  margin: 0;
  color: white;
}

body {
  background: black url("~@/assets/img/bg/space.jpg") center / cover fixed;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav {
  user-select: none;

  > * {
    display: inline-block;
    padding: 10px;
    max-height: $nav-height;
  }
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

#app {
  animation: fadeIn 1s ease-out forwards;
}
