@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "../variables";

section {
  height: 100vh;
  padding-top: $nav-height;
  padding-bottom: $nav-height;
  margin-top: -$nav-height;
  animation: fadeIn 1s ease-out;
}

#me {
  user-select: none;
  pointer-events: none;
}

@include media-breakpoint-up(md) {
  #me {
    transform: scale(1.15);
  }
}